* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.banner {
  width: 100%;
  height: 50vh;
  background-image: url(images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-bar {
  width: 90%;
  margin: auto;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.nav-bar ul {
  display: flex;
  margin-left: auto;
}

.nav-bar ul li {
  list-style: none;
  margin: 0 20px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 70px;
}

.header p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.content {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 50px;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  position: relative;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33.33%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 90%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .cat,
.carousel.dragging .hamster,
.carousel.dragging .dog,
.carousel.dragging .rabbit {
  cursor: grab;
  user-select: none;
}

.carousel :where(.cat, .pet-image),
.carousel :where(.hamster, .pet-image),
.carousel :where(.dog, .pet-image),
.carousel :where(.rabbit, .pet-image) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .cat,
.carousel .hamster,
.carousel .dog,
.carousel .rabbit {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: lightgray;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousel .cat .pet-image,
.carousel .hamster .pet-image,
.carousel .dog .pet-image,
.carousel .rabbit .pet-image {
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.cat .pet-image img,
.hamster .pet-image img,
.dog .pet-image img,
.rabbit .pet-image img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .cat h2,
.carousel .hamster h2,
.carousel .dog h2,
.carousel .rabbit h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .cat span,
.carousel .hamster span,
.carousel .dog span,
.carousel .rabbit span {
  color: #6a6d78;
  font-size: 1.31rem;
}

footer {
  width: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 20px 0;
  margin-top: 20px;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-address,
.footer-contact,
.footer-info {
  flex: 1;
}

.footer-address h3,
.footer-contact h3,
.footer-info h3 {
  margin-bottom: 10px;
}

.footer-address p,
.footer-contact p,
.footer-info p {
  margin-bottom: 5px;
}
